.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5rem;
}

.headerContainer h5 {
  font-weight: bold;
  color: #ffe300;
  font-size: 2.2rem;
}

.headerContainer div {
  display: flex;
  align-items: center;
}

.headerContainer div svg {
  margin-right: 2rem;
}

.headerContainer div svg:last-child {
  margin-right: 0;
}
